PORT=8082
NODE_ENV=development
MONGO_URI=mongodb://admin:adminpassword@mongodb:27017/pms_tasks?authSource=admin
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=24h

UPLOAD_DUR=./uploads
MAX_FILE_SIZE=5242880
